/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-04-2019, 10:50:30
    Author     : ramiy
*/
.root{
   
   -fx-background-color: linear-gradient(to bottom right, lightblue, black);
}
.button{
    -fx-font-weight: bold;
    -fx-font-family: "Karla";
}

.text{
    -fx-font-weight: bold; 
    -fx-cursor: hand;
}

#menuListView{
    
    
}
#homeButton{
     -fx-cursor: hand; 
}

